extends ../shared/template
block content
  h2 People List
  table
    thead
      th Name
      th Photo
      th Cash
      th Assets
      th Total
    tbody
    each person in people
      tr
        td= person.name
        td: img(src='#{person.photo}')
        td= person.cash
        td= person.assets

block scripts
  script(src='/js/user/home.js')

