extends ../shared/template
block content
  h2 Create a Person

  form(method='post', action='/people')
    label Name
    input(name='name', type='text', placeholder='John Hancock', autofocus=true)
    br
    label Photo
    input(name='photo', type='text', placeholder='url')
    br
    label Cash
    input(name='cash', type='number', placeholder='100.00')
    br
    button.addPerson#addPerson Create


block scripts
  script(src='/js/user/home.js')

